<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Temporary Title -->
    <title>@ViewData["Title"] - Project Management Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/artefact.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar border-bottom box-shadow mb-3" style="background-color: #ffffff;">
            <div class="container-fluid px-4 d-flex align-items-center">

                <!-- Website Name -->
                <div style="width: 80%;">
                    <a class="navbar-brand fw-bold fs-4" asp-page="/Index">Project Management Portal</a>
                </div>

                <!-- Login or Logout Button -->
                <div class="d-flex justify-content-end align-items-center" style="width: 20%">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <span class="navbar-text me-3">
                            Hello, @User.Identity.Name
                        </span>
                        <a asp-page="/Account/Logout" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to logout?')">Logout</a>
                    }
                    else
                    {
                        <a asp-page="/Account/Login" class="btn btn-outline-primary btn-sm">Login</a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - artefact - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>