@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>

        </title>
    </head>
    <body>

        <script>
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('message') == 'loggedout') {
                alert('You have been logged out successfully.');
            }
        </script>
    </body>
</html>
